#content_wrapper .top_content {
  display: flex;
  justify-content: space-around;
  max-height: 600px;
  width: 100%;
  background-image: url(../images/bg.webp);
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  position: relative;
  overflow: hidden; }
  @media (max-width: 750px) {
    #content_wrapper .top_content {
      flex-direction: column;
      align-items: center;
      max-height: fit-content; } }
  #content_wrapper .top_content .left {
    display: flex;
    flex-direction: column;
    width: 40%; }
    @media (max-width: 750px) {
      #content_wrapper .top_content .left {
        width: 90%; } }
    #content_wrapper .top_content .left .inner_left {
      color: white;
      margin: 100px 0; }
      @media (max-width: 750px) {
        #content_wrapper .top_content .left .inner_left {
          margin: 50px 0; } }
      #content_wrapper .top_content .left .inner_left #ref_title {
        font-size: 55px;
        font-weight: bold; }
        @media (max-width: 750px) {
          #content_wrapper .top_content .left .inner_left #ref_title {
            font-size: 44px;
            text-align: center; } }
      #content_wrapper .top_content .left .inner_left #ref_other_title {
        margin-top: 30px;
        font-size: 25px; }
        @media (max-width: 750px) {
          #content_wrapper .top_content .left .inner_left #ref_other_title {
            font-size: 18px; } }
  #content_wrapper .top_content .right {
    width: 30%; }
    @media (max-width: 750px) {
      #content_wrapper .top_content .right {
        width: 100%; } }
    #content_wrapper .top_content .right .inner_right {
      width: 100%;
      margin: 60px 0; }
      @media (max-width: 750px) {
        #content_wrapper .top_content .right .inner_right {
          margin: 0; } }
#content_wrapper .links_content {
  display: flex;
  justify-content: space-around;
  background-color: #31234d; }
  #content_wrapper .links_content .inner_links {
    display: flex;
    margin-top: 50px;
    width: 90%;
    background-color: #4A3571;
    border: 1px solid #31234d;
    text-align: center;
    border-radius: 5px;
    padding: 20px;
    color: white; }
    @media (max-width: 750px) {
      #content_wrapper .links_content .inner_links {
        flex-direction: column; } }
    #content_wrapper .links_content .inner_links .title {
      font-size: 20px;
      font-weight: bold;
      margin-right: 30px; }
      @media (max-width: 750px) {
        #content_wrapper .links_content .inner_links .title {
          margin-right: 0; } }
    #content_wrapper .links_content .inner_links .link {
      font-size: 18px; }

#content_wrapper .bottom_content {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #31234d; }
  #content_wrapper .bottom_content #referrals_table {
    display: flex;
    flex-direction: column;
    width: 90%;
    justify-content: center;
    margin: 50px 0; }
    #content_wrapper .bottom_content #referrals_table #titles {
      display: flex;
      width: 100%;
      background-color: #4A3571;
      border-bottom: 1px solid #31234d; }
      @media (max-width: 750px) {
        #content_wrapper .bottom_content #referrals_table #titles #th_Status {
          display: none; } }
      #content_wrapper .bottom_content #referrals_table #titles div {
        width: 33.33%;
        color: white;
        padding: 30px;
        text-align: center; }
        @media (max-width: 750px) {
          #content_wrapper .bottom_content #referrals_table #titles div {
            width: 50%; } }
    #content_wrapper .bottom_content #referrals_table #inner_table {
      width: 100%;
      min-height: 400px;
      position: relative; }
      #content_wrapper .bottom_content #referrals_table #inner_table .table_row {
        display: flex;
        width: 100%;
        background-color: #4A3571;
        border-bottom: 1px solid #31234d; }
        @media (max-width: 750px) {
          #content_wrapper .bottom_content #referrals_table #inner_table .table_row .th_Status {
            display: none; } }
        #content_wrapper .bottom_content #referrals_table #inner_table .table_row div {
          width: 33.33%;
          color: white;
          padding: 30px;
          text-align: center; }
          @media (max-width: 750px) {
            #content_wrapper .bottom_content #referrals_table #inner_table .table_row div {
              width: 50%; } }
      #content_wrapper .bottom_content #referrals_table #inner_table svg {
        position: absolute;
        top: calc( 50% - 60px);
        left: calc( 50% - 60px); }
      #content_wrapper .bottom_content #referrals_table #inner_table span {
        position: absolute;
        top: calc( 50% + 60px);
        left: calc( 50% - 80px);
        font-size: 14px;
        color: gray; }
