#content {
  width: 100%;
  display: flex; }
  @media (max-width: 1176px) {
    #content {
      flex-direction: column; } }
  #content #left {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center; }
    @media (max-width: 1176px) {
      #content #left {
        width: 100%; } }
    #content #left .top {
      width: 70%;
      margin-top: 30px; }
      @media (max-width: 500px) {
        #content #left .top {
          width: 90%; } }
      #content #left .top .logo a {
        display: flex;
        cursor: pointer;
        text-decoration: none;
        color: black; }
        #content #left .top .logo a span {
          margin: auto 30px;
          line-height: 1.8;
          font-size: 30px;
          font-weight: bold; }
    #content #left #errors_wrapper {
      visibility: hidden;
      width: 70%;
      margin-top: 50px; }
      @media (max-width: 500px) {
        #content #left #errors_wrapper {
          width: 90%; } }
      #content #left #errors_wrapper .error {
        position: relative;
        padding: 10px;
        background-color: #FFE1E2;
        border: 2px solid #E30000;
        border-radius: 5px;
        margin-top: 10px; }
        #content #left #errors_wrapper .error svg {
          position: absolute;
          top: 8px; }
        #content #left #errors_wrapper .error span {
          font-size: 14px;
          margin-left: 40px; }
    #content #left .middel {
      display: flex;
      flex-direction: column;
      width: 70%;
      margin-top: 20px; }
      @media (max-width: 500px) {
        #content #left .middel {
          width: 90%; } }
      #content #left .middel .form_head {
        display: flex;
        flex-direction: column; }
        #content #left .middel .form_head .head_title {
          font-size: 28px;
          font-weight: bold; }
        #content #left .middel .form_head .head_desc {
          margin-top: 5px;
          color: #78778B; }
      #content #left .middel .form_wrapper form {
        display: flex;
        flex-direction: column; }
        #content #left .middel .form_wrapper form .label {
          margin: 25px 0 10px 0;
          font-size: 14px; }
        #content #left .middel .form_wrapper form input:not([type=checkbox]) {
          font-size: 14px;
          color: #1B212D;
          border: 1px solid #DADADA;
          border-radius: 5px;
          position: relative;
          outline-color: #7044EE;
          padding: 15px 50px;
          width: 100%; }
        #content #left .middel .form_wrapper form .input_wrapper {
          position: relative; }
          #content #left .middel .form_wrapper form .input_wrapper svg {
            position: absolute;
            z-index: 10;
            top: 18px;
            left: 20px; }
        #content #left .middel .form_wrapper form .tos_forget {
          display: flex;
          justify-content: space-between;
          margin: 20px 0; }
          #content #left .middel .form_wrapper form .tos_forget .tos {
            display: flex; }
            #content #left .middel .form_wrapper form .tos_forget .tos input[type=checkbox] {
              margin-right: 10px;
              width: 20px;
              height: 20px; }
            #content #left .middel .form_wrapper form .tos_forget .tos span {
              line-height: 1.5;
              font-size: 14px; }
          #content #left .middel .form_wrapper form .tos_forget .forget a {
            font-size: 14px;
            color: black; }
        #content #left .middel .form_wrapper form #reg_button, #content #left .middel .form_wrapper form #login_button {
          padding: 15px;
          color: #fff;
          background-color: #7044EE;
          border: none;
          border-radius: 5px;
          font-size: 17px;
          cursor: pointer; }
      #content #left .middel .link_sign_in {
        margin: 40px auto; }
        #content #left .middel .link_sign_in span {
          color: #78778B;
          font-size: 14px; }
          #content #left .middel .link_sign_in span a {
            text-decoration: none;
            color: #000; }
  #content #right {
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #121212; }
    @media (max-width: 1176px) {
      #content #right {
        width: 100%; } }
    #content #right .center {
      display: flex;
      flex-direction: column; }
      #content #right .center img {
        width: 100%; }
      #content #right .center .description {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px; }
        #content #right .center .description .desc_title {
          color: #000;
          font-size: 18px;
          font-weight: bold;
          padding: 8px 0 5px 0;
          background-color: #fff;
          border-radius: 10px;
          text-align: center;
          width: 70%; }
        #content #right .center .description .desc_body {
          color: gray;
          font-size: 12px;
          margin: 10px;
          padding-left: 10px;
          width: 70%; }
