{% extends "base.html" %}

{% block title %}
    Market Screener
{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/wallet.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/deposit.css') }}">
{% endblock %}

{% block content %}
    <div id="market-crypto_content">
        <div class="tradingview-widget-container" style="width: 100%; height: 900px;">
            <iframe allowtransparency="true" style="user-select: none; box-sizing: border-box; display: block; height: 100%; width: 100%;" src="https://www.tradingview-widget.com/embed-widget/screener/?locale=en#%7B%22width%22%3A%22100%25%22%2C%22height%22%3A900%2C%22defaultColumn%22%3A%22overview%22%2C%22defaultScreen%22%3A%22general%22%2C%22market%22%3A%22crypto%22%2C%22showToolbar%22%3Atrue%2C%22colorTheme%22%3A%22dark%22%2C%22enableScrolling%22%3Atrue%2C%22utm_source%22%3A%22cexalp.com%22%2C%22utm_medium%22%3A%22widget%22%2C%22utm_campaign%22%3A%22cryptoscreener%22%2C%22page-uri%22%3A%22cexalp.com%2Fmarket-screener%22%7D" title="screener TradingView widget" lang="en" frameborder="0"></iframe>
            <style>
                .tradingview-widget-copyright {
                    font-size: 13px !important;
                    line-height: 32px !important;
                    text-align: center !important;
                    vertical-align: middle !important;
                    /* @mixin sf-pro-display-font; */
                    font-family: -apple-system, BlinkMacSystemFont, 'Trebuchet MS', Roboto, Ubuntu, sans-serif !important;
                    color: #B2B5BE !important;
                }
            
                .tradingview-widget-copyright .blue-text {
                    color: #2962FF !important;
                }
            
                .tradingview-widget-copyright a {
                    text-decoration: none !important;
                    color: #B2B5BE !important;
                }
            
                .tradingview-widget-copyright a:visited {
                    color: #B2B5BE !important;
                }
            
                .tradingview-widget-copyright a:hover .blue-text {
                    color: #1E53E5 !important;
                }
            
                .tradingview-widget-copyright a:active .blue-text {
                    color: #1848CC !important;
                }
            
                .tradingview-widget-copyright a:visited .blue-text {
                    color: #2962FF !important;
                }
            </style>
        </div>
    </div>
{% endblock %}